  .container .card {
    transition: transform 0.2s  !important;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .btn-custom {
    width: 100%;
    padding: 10px 0;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  body {
    background-color: lightblue;
  }
  
  footer {
    background-color: lightblue !important;
  }
  
  [data-bs-theme="dark"] body {
    background-color: darkblue;
  }
  
  [data-bs-theme="dark"] footer {
    background-color: darkblue !important;
  }
  
  